<!-- <div class="container">
    <div class="sidebar">
      <button (click)="navigateToTeams()">Lista de Times</button>
      <button (click)="navigateToMatches()">Lista de Matches</button>
    </div>
    <div class="container">
        <h1>Create Championship</h1>
        <form (ngSubmit)="createChampionship()">
          <label for="name">Championship Name:</label>
          <input type="text" id="name" [(ngModel)]="newChampionship.name">
      
          <div class="team-inputs">
            <label for="team-{{ i }}: let i = index">Team {{ i + 1 }}:</label>
            <input type="text" id="team-{{ i }}" [(ngModel)]="newChampionship.teams[i]">
          </div>
      
          <button type="submit">Create Championship</button>
        </form>
      </div> -->